#battle
  - if @haikus.length < 2
    .row
      .span11.offset1
        %h1 We don't have enough haikus yet!
        %h2 
          Why don't you
          %a{ :href => "/haiku" } write one
          to help us get started?
  - if @haikus.length >= 2
    .row
      .span4.offset1
        = haml :haiku, :locals => { :haiku => @haikus.first }
      .span1.vs
        .outer
          .middle
            .inner
              .inner-content vs.
      .span4
        = haml :haiku, :locals => { :haiku => @haikus.second }

%form#battle-report{ :method => 'post', :action => 'battle' }
  %input{ :type => 'hidden', :name => 'win'}
  %input{ :type => 'hidden', :name => 'loss'}

%script{ :src => '/assets/js/jquery.js', :type => 'text/javascript' }
%script{ :src => '/assets/js/battle.js', :type => 'text/javascript' }
