#form
  %form{ :method => 'post', :action => '/haiku' }
    -if @haiku.errors.any?
      %div.alert.alert-error
        %ul
          - @haiku.errors.each do |key, error|
            %li= error
    %textarea{ :type => 'text', :name => 'haiku', :placeholder => 'Write!' }
      = @haiku.lines.join("<br>")
    %br
    %button{ :type => :submit, :class => 'btn btn-large' } Save!
