.haiku{ 'data-id' => haiku.id, :class => haiku.on_fire? ? "streak" : "" }
  - haiku.lines.each do |line|
    .line
      &= line
  .links
    %a.permalink{ :href => "/haiku/#{haiku.id}" } 
      = "haikuclash.com/haiku/#{haiku.id}"
