.haiku{ 'data-id' => haiku.id }
  - haiku.lines.each do |line|
    .line
      &= line
  .links
    %a.permalink{ :href => "/haiku/#{haiku.id}" } 
      = "haikuclash.herokuapp.com/haiku/#{haiku.id}"
