footer {
  border-top: 1px solid #969696;
  padding: 0 5px;
}

textarea {
  font-family: "Radley";
  padding: 0 10px;
  width: 98%;
  height: 375px;
}

a {
  color: #969696;
}

a:hover {
  color: #969696;
}

#leaderboard .haiku, #show .haiku,
textarea {
  font-size: 55px;
  line-height: 60px;
}

#leaderboard .haiku, #show .haiku {
  margin: 20px 0;
}

#box {
  min-height: 500px;
}

.nav .brand {
  font-size: 30px;
}

#battle {
  margin-top: 90px;
}

#form {
  margin-top: 50px;
}


#leaderboard .row {
  margin: 10px 0;
}

.haiku {
  font-size: 20px;
  padding: 10px;
  border-radius: 10px;
  background-color: rgba(204, 204, 204, 0.200);
}

.haiku .links {
  font-size: 13px;
  line-height: 17px;
}

#battle .haiku .links {
  font-size: 9px;
  line-height: 12px;
}

#battle .haiku:hover {
  background-color: rgba(102, 204, 51, 0.240);
}

.haiku .line {
  margin: 10px 0px;
}

.center .outer {
  height: 115px;
  width: 100%;
  display: table;
}

.center .middle {
  display: table-cell;
  vertical-align: middle;
}

.center .inner {
  margin: 0 auto;
}

.center .inner-content {
  margin: 0 auto;
}

.vs .inner-content {
  font-size: 40px;
  font-weight: bold;
  width: 50px;
}

.not-enough .inner-content {
  font-size: 40px;
  width: 500px;
}

#battle .haiku.selected {
  border: 2px solid rgba(102, 204, 51, 0.240);
}

.alert-error ul {
  list-style-type: none;
}

